.userForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 35, 0.8);
    z-index: 98;
}

.form {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--dark);
    width: 320px;
    height: 100vh;
    z-index: 99;
    padding: 24px;

    &Title {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: var(--light);
        text-align: center;
    }

    &Form {
        margin-top: 24px;
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 16px;
    }

    &Group input {
        width: 100%;
        background: #212123;
        border-radius: 8px;
        color: var(--light);
        padding: 12px 24px;
    }

    &Submit {
        font-weight: 500;
        line-height: 20px;
    }

    &Close {
        position: absolute;
        top: 14px;
        right: 14px;
        z-index: 9;
        cursor: pointer;

        & svg {
            width: 20px;
            height: 20px;
            stroke: var(--dark-sea);
        }

        & svg:hover {
            stroke: #fff;
        }
    }

    &Link {
        font-size: 13px;
        color: var(--dark-sea);
        cursor: pointer;
        text-align: center;

        &:hover {
            color: var(--light);
        }
    }
}