.product {
    display: flex;
    flex-grow: 1;
    max-width: calc(100% - 324px);
    padding: 24px;
    column-gap: 32px;
    color: var(--light);

    &Info {
        display: flex;
        flex-direction: column;
    }

    &Images {
        display: flex;
        gap: 20px;
    }

    &Current {
        width: 375px;
        height: 375px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
    }

    &ImagesList {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    &Image {
        width: 90px;
        height: 90px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        cursor: pointer;
    }

    &Title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }

    &Price {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin: 10px 0 20px 0;
    }

    &Color,
    &Sizes {
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        display: flex;
        column-gap: 16px;
        align-items: center;

        & span {
            font-size: 14px;
            line-height: 17px;
            color: var(--dark-sea);
        }
    }

    &Sizes {
        margin: 16px 0;
    }

    &List {
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    &Size {
        padding: 4px 8px;
        border-radius: 8px;
        background: var(--bg);
        cursor: pointer;
        transition: all .3s linear;

        &:hover,
        &Active {
            background: var(--violet);
        }
    }

    &Description {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--grey);
    }

    &Actions {
        margin-top: 20px;
        display: flex;
        column-gap: 10px;
    }

    &AddFavourite {
        background: var(--dark-sea);
        border-radius: 6px;
        &:hover {
            background-color: var(--violet-dark);
        }
    }

    &:hover {
        background: var(--dark);
    }

    &RemoveFavourite {
        background: var(--violet-dark);
        border-radius: 6px;

        &:hover {
            background-color: var(--dark-sea);
        }
    }

    &Bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        line-height: 12px;
        color: var(--dark-sea);
        margin-top: auto;
    }

    &Add:disabled {
        cursor: not-allowed;
        background: var(--bg);
    }
}