.deviceList {
    padding: 0;
    /* margin: 0; */
    list-style: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

.deviceList__item {
    margin: 12px 0;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    max-width: 250px;
    width: 250px;
    overflow: hidden;
    flex-grow: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    transition: all .3s linear;
}

.deviceList__item:nth-of-type(3n) {
    margin-right: 0;
}

.deviceList__item:hover {
    scale: 1.05;
    border: 1px solid #0d6efd;
}

.deviceList__title {
    font-size: 17px;
    cursor: pointer;
}

.deviceList__image {
    max-width: 250px;
    width: 250px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;

}

.deviceList__wraper {
    width: 200px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}

.deviceList__rating {
    cursor: pointer;
    display: flex;
}

.deviceList__icon {
    width: 20px;
    margin-right: 3px;
}

.deviceList__model {
    font-size: 12px;
    cursor: pointer;

}