.shop {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 30px auto;
    background-color: transparent;
}

.shop__filter {
    max-width: 400px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 15px;
}

.shop__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}