.sideBar__list {
    padding: 0;
    margin: 0;
    list-style: none;
    /* max-width: 350px; */
    box-sizing: border-box;
}

.sideBar__item {
    border: 1px solid #C4C4C4;
    cursor: pointer;
    transition: all .3s linear;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    transition: all .3s linear;
}

.selected {
    background-color: #0d6efd;
    color: #fff;
}

.brands {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 980px;
    flex-shrink: 1;
    flex-grow: 1;
}

.brand {
    margin-right: 24px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.brand:last-of-type {
    margin-right: 0;
}

.sideBar__item:hover {
    background-color: #0d6efd;
    color: #fff;
}